.jumbotron {
    padding-top: 8rem;
    background-color: #87b4fb;
  }
  
  #pendidikan {
    background-color: #55ebbb;
  }
  
  #contact {
    background-color: #b986f4;
  }
  
  section {
    padding-top: 5rem;
  }